.login {
    width: 100%;
    height: 80svh;
    font-family: "Lato", sans-serif;

    &__title {
        font-size: 1.8rem;
        text-align: center;
    }

    &__form {
        width: 40%;
        padding: 2rem;
        margin: 6rem auto;
        border: 1px solid #000;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 0.7rem;
        margin: 0.7rem 0 0.3rem 0;
    }
    &__input {
        padding: 0.4rem;
        border: 1px solid #000;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        padding: 0.6rem 1rem;
        margin: 1.5rem 0;
        border: none;
        color: #fff;
        cursor: pointer;
        background-color: #e7b10a;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__error {
        color: #d71313;
        font-size: 0.7rem;
        padding: 0.2rem 0;
    }
}
